body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer{
    background-color: #8ecae6;
}
.site-title {
    color: #023047;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black ;
}
ul {
    list-style-type: square;
}
li:nth-child(odd) {
    background: #8ecae6;
}
a:link {
    text-decoration: none;
    background: #8ed487;
    border: #8ecae6;
}
.notes-link:hover{
    cursor: pointer;
    color: yellow;

}
