body {
    background-color: #aad4cf;
    font-family: Arial, Poppins, sans-serif;
    font-weight: 500;
}
h1 {
    font-weight: 200;
}
h2 {
    font-size: 24px;
    font-weight: 480;
    padding-left: 10px;
    padding-bottom: -10px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.banner-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 29px;
}
/*defines the styling for the text that appears on top of a banner image*/  
.banner-card img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
}
/*defines the styling for the banner image itself. It sets the image to have a width of 100% and height that adjusts proportionally*/  
.heading {
    position: relative;
  }
  
.wrapper {
    width: 1000px;
    background-color: #d4e9e7;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px;
}
/*It sets the width of the container to 1000px and adds a background color. */
nav {
    text-align: center;
}    
nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.smallimage {
    width: 290px;
    height: 290px;
    margin: 10px;
    padding-right: 10px;
    float: left;
}

.part2 p{
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}
.form-box {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
  }
/*box or container with a black border, 20px of padding on the inside, and a 10px margin around the outside.*/
.button {
    background-color:#d4e9e7; 
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
} 
/*creates a simple, clean-looking button.*/

.form-box input[type="text"], 
/* allows for the application of styles to specific input elements within a form, while ignoring other types of input elements.*/
.form-box textarea {
    width: 100%;
    box-sizing: border-box;
} 
/*sets the width of input text fields and textareas inside an element with the class "form-box" to 100% of their parent container*/

footer {
    text-align: left;
    margin-left: 830px;
    padding: 20px;
}

table {
    width: 100%;
    margin-top: -15px;
}
/*sets the width of the table to 100% of its parent container and applies a negative margin to the top of the table*/

th {
    height: 10px;
    width: 33%;
    border-right: 1px solid black
}
/* sets the height of the table header cells (th) to 10 pixels and the width to 33% of the width of the table.*/